**1. How big is the data?**

In [13]:
import pandas as pd
animals = ['lion', 'tiger', 'rabbit', 'fox', 'dog', 'bear']
birds = ['eagle', 'canary', 'sparrow', 'pigeon', 'vulture', 'peacock']
insets = ['ants', 'butterfly', 'bugs', 'snail', 'beetle', 'spider']
df = pd.DataFrame({'animals': animals, 'birds':birds, 'insets':insets})
df

  animals    birds     insets
0    lion    eagle       ants
1   tiger   canary  butterfly
2  rabbit  sparrow       bugs
3     fox   pigeon      snail
4     dog  vulture     beetle
5    bear  peacock     spider

In [10]:
df.shape

(3, 3)

**2. How does the data look like?**

In [14]:
df.head()
df.sample(5)  #returns 5 random rows from df

  animals    birds     insets
0    lion    eagle       ants
1   tiger   canary  butterfly
2  rabbit  sparrow       bugs
4     dog  vulture     beetle
3     fox   pigeon      snail

**3. What is the data type of columns**

In [ ]:
df.info()

**4. Are there any missing values?**

In [ ]:
df.isnull().sum()

**5. How does the data look mathematically?**

In [ ]:
df.describe()

**6. Are there duplicate values?**

In [ ]:
df.duplicated()
# we can use drop duplicate fn of pandas to drop these duplicate values

**7. How is the correlation between cols?**

In [ ]:
df.corr()
#return the pearson correlation coefficient
#this gives an idea of what columns are important